/* nav, hero, grid, filtres */

header {
  min-height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 1px 2px 6px rgb(226, 226, 226);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo a {
  color: var(--color-text-ink);
  font-weight: var(--font-w-title-headlines);
  font-size: 1.3rem;
}

.logo a span {
  color: rgb(186, 1, 1);
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: auto;
}

.header-search-and-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-search-and-basket input {
  padding: 5px 15px;
  height: 32px;
  font-size: 14px;
  border: 1px solid var(--color-line);
}

.basket-badge {
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: var(--color-copper);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
}

nav ul li a {
  color: var(--color-text-slate);
  font-weight: var(--font-w-main);
}

nav ul li a:hover {
  color: var(--color-copper-dk);
}

.hero-section {
  margin-top: 80px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  padding: 60px 40px;
}

.hero-content {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-badge {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "JetBrains Mono";
  color: var(--color-copper);
  letter-spacing: 2px;
}

.hero-content h1 {
  font-weight: var(--font-w-title-headlines);
  font-size: 2.9rem;
  line-height: 2.9rem;
}

.hero-text {
  color: var(--color-text-slate);
  line-height: 1.8rem;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-visuel {
  height: 100%;
  background-color: var(--color-navy);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-badge {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: "JetBrains Mono";
  color: var(--color-copper);
}

.hero-stock {
  color: var(--color-green);
}

.hero-presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.hero-presentation img {
  width: 100%;
  height: 350px;
  background-color: var(--color-navy);
  border: 1px solid white;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hero-description div dt {
  color: var(--color-text-slate);
}

.hero-description div dd {
  color: var(--color-bg);
}

.hero-description div dt,
.hero-description div dd {
  font-family: "JetBrains Mono";
  font-size: 0.8rem;
}

.hero-description div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Section filtre */
.catalogue-filters {
  display: flex;
  gap: 10px;
  padding: 15px 40px;
}

/* Products section */

.catalogue-container {
  padding: 15px 40px;
  background-color: var(--color-line);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.article-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article-header {
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Footer */
footer {
  padding: 40px;
  background-color: var(--color-navy);
}

footer nav {
  width: 100%;
  height: 100%;
}

footer nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

footer nav ul li a {
  color: white;
}
